# Rust
target/
Cargo.lock

# macOS
macos/Pulsaar.xcodeproj/project.xcworkspace/xcuserdata/
macos/Pulsaar.xcodeproj/xcuserdata/
macos/build/
*.dSYM

# Windows
windows/*/bin/
windows/*/obj/
windows/*.user
*.suo

# Linux
linux/build/

# General
.DS_Store
._*
*.log
/.idea/
